<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <title>Rediger</title>


    <link rel="stylesheet" type="text/css" th:href="Styles2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>

        input[type=text], input[type=date]{
            width: 400px;
            padding: 12px 20px;
            margin: 0px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        body {
            background-color: #EAF1EE;
        }

    </style>


</head>

<body>
<div class="container">

    <div class="d-flex justify-content-center">

        <div class="p-1">

            <div class="col-auto">

            <h1> Rediger børne oplysninger</h1>


    <form method="Post" th:action="@{/edit}">

        <div class="form-group">
        <label>Ændre fornavn</label> <br>
        <input type="text"  th:field="${child.forNavn}"/>
        </div>

        <div class="form-group">
        <label>Ændre efternavn</label> <br>
        <input type="text"  th:field="${child.efterNavn}"/>
        </div>

        <div class="form-group">
        <label>Ændre kontaktperson</label> <br>
        <textarea style= "height: 150px; width: 400px" th:field="${child.kontaktPerson}"/>
        </div>

        <div class="form-group">
        <label>Ændre CPR</label> <br>
        <input type="text"  th:field="${child.cpr}"/>
        </div>

        <div class="form-group">
        <label>Ændre startdato</label> <br>
        <input type="date"  th:field="${child.startDato}"/>
        </div>

        <div class="form-group">
        <label>Ændre noter</label> <br>
        <textarea style= "height: 150px; width: 400px"  th:field="${child.noter}"/>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Rediger"/>
        </div>

    </form>


            </div>
        </div>
    </div>
</div>



<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

</body>
</html>